
<div class="p-2 bg-white dark:bg-gray-800 shadow-md rounded-lg border border-gray-200 dark:border-gray-700 mt-6">
  <h3 class="text-lg font-semibold text-gray-900 dark:text-white m-4">Информация о месте</h3>
  <%= form.fields_for :facility do |facility_form| %>
    <div class="grid grid-cols-2 gap-4 m-6">
      <%= render Ui::CheckboxFieldComponent.new(
        form: facility_form,
        field_name: :wifi,
        label: "Wi-Fi",
        input_class: "h-4 w-4 text-blue-500 focus:ring-blue-500 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ) %>

      <%= render Ui::CheckboxFieldComponent.new(
        form: facility_form,
        field_name: :air_conditioning,
        label: "Кондиционер",
        input_class: "h-4 w-4 text-blue-500 focus:ring-blue-500 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ) %>

      <%= render Ui::CheckboxFieldComponent.new(
        form: facility_form,
        field_name: :audio_visual_equipment,
        label: "Аудиовизуальное оборудование",
        input_class: "h-4 w-4 text-blue-500 focus:ring-blue-500 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ) %>

      <%= render Ui::CheckboxFieldComponent.new(
        form: facility_form,
        field_name: :parking,
        label: "Парковка",
        input_class: "h-4 w-4 text-blue-500 focus:ring-blue-500 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ) %>

      <%= render Ui::CheckboxFieldComponent.new(
        form: facility_form,
        field_name: :disabled_access,
        label: "Доступ для инвалидов",
        input_class: "h-4 w-4 text-blue-500 focus:ring-blue-500 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ) %>

      <%= render Ui::CheckboxFieldComponent.new(
        form: facility_form,
        field_name: :kitchen,
        label: "Кухня",
        input_class: "h-4 w-4 text-blue-500 focus:ring-blue-500 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ) %>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
      <%= render Ui::InputFieldComponent.new(
        form: facility_form,
        field_name: :toilets_count,
        label: "Количество туалетов",
        type: "number",
        input_class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ) %>

      <%= render Ui::InputFieldComponent.new(
        form: facility_form,
        field_name: :other_facilities,
        label: "Другие удобства",
        type: "text_area",
         placeholder: "Укажите дополнительные возможности",
        input_class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ) %>
    </div>
  <% end %>
</div>
