<div class="p-2 bg-white dark:bg-gray-800 shadow-md rounded-lg border border-gray-200 dark:border-gray-700 mt-6">
  <h3 class="text-lg font-semibold text-gray-900 dark:text-white m-4">Вспомогательная информация</h3>
  
  <%= form.fields_for :information do |f| %>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 m-6">
      <%= render Ui::CheckboxFieldComponent.new(
        form: f,
        field_name: :alcohol_allowed,
        label: "Разрешен алкоголь",
        input_class: "h-4 w-4 text-blue-500 focus:ring-blue-500 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ) %>

      <%= render Ui::CheckboxFieldComponent.new(
        form: f,
        field_name: :noise_restrictions,
        label: "Разрешены вечеринки",
        input_class: "h-4 w-4 text-blue-500 focus:ring-blue-500 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ) %>

      <%= render Ui::CheckboxFieldComponent.new(
        form: f,
        field_name: :smoking_allowed,
        label: "Можно курить",
        input_class: "h-4 w-4 text-blue-500 focus:ring-blue-500 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ) %>
    </div>

    <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-4 m-2">
      <%= render Ui::InputFieldComponent.new(
        form: f,
        field_name: :calendar,
        label: "Календарь",
        placeholder: "Введите ссылку на календарь",
        input_class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ) %>

      <%= render Ui::InputFieldComponent.new(
        form: f,
        field_name: :document,
        label: "Документы и лицензии",
        type: "text_area",
        placeholder: "Укажите наличие лицензий и сертификатов",
        input_class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ) %>

      <%= render Ui::InputFieldComponent.new(
        form: f,
        field_name: :description,
        label: "Дополнительная информация",
        type: "text_area",
        placeholder: "Введите пожелания и примечания",
        input_class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ) %>

      <%= render Ui::InputFieldComponent.new(
        form: f,
        field_name: :restrictions,
        label: "Другие ограничения",
        type: "text_area",
        placeholder: "Введите ограничения",
        input_class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ) %>
    </div>
  <% end %>
</div>
