<div class="p-2 bg-white dark:bg-gray-800 shadow-md rounded-lg border border-gray-200 dark:border-gray-700 mt-6">
  <h3 class="text-lg font-semibold text-gray-900 dark:text-white m-4">Вспомогательная информация</h3>
  <%= form.fields_for :rental_info do |f| %>
    <div class="grid lg:grid-cols-2 md:grid-cols-1 gap-4 mx-2">
      <%= render Ui::InputFieldComponent.new(
        form: f,
        field_name: :price,
        label: "Стоимость аренды",
        placeholder: "Введите стоимость",
        type: "number",
        input_class: "mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ) %>

      <%= render Ui::InputFieldComponent.new(
        form: f,
        field_name: :min_rental_duration_hours,
        label: "Минимальная продолжительность аренды",
        type: "number",
        placeholder: "Введите пожелания и примечания"
      ) %>

      <div class="grid grid-cols-2 gap-4 mb-4">
        <div class="field mx-3">
          <%= f.label :working_hours_start, "Время начала", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= f.text_field :working_hours_start, type: "time", value: f.object.working_hours_start&.in_time_zone("Moscow")&.strftime("%H:%M"),
            class: "block w-full p-2 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
          <% if f.object.errors[:working_hours_start].any? %>
            <div class="text-sm text-red-500">
              <%= f.object.errors[:working_hours_start].join(', ') %>
            </div>
          <% end %>
        </div>

        <div class="field  mx-3">
          <%= f.label :working_hours_end, "Время окончания", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= f.text_field :working_hours_end, type: "time", value: f.object.working_hours_end&.in_time_zone("Moscow")&.strftime("%H:%M"),
            class: "block w-full p-2 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
          <% if f.object.errors[:working_hours_end].any? %>
            <div class="text-sm text-red-500">
              <%= f.object.errors[:working_hours_end].join(', ') %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="field  mx-3 mb-3">
        <%= render Ui::MultiSelect2Component.new(
          form: f, 
          field_name: :payment_terms, 
          options: RentalInfo::TYPES, 
          selected_values: @venue.rental_info.payment_terms, 
          placeholder: "Выберите типы оплаты",
          label: "Условия оплаты",
        ) %>
      </div>
    </div>
  <% end %>
</div>
