<h1 class="text-center mb-6">Создание нового мероприятия</h1>

<div class="max-w-3xl mx-auto p-6 bg-cian-900 shadow-lg rounded-lg">
  <%= form_with model: @event, local: true do |form| %>
    <% if @event.errors.any? %>
      <div id="error_explanation" class="bg-red-100 p-4 mb-4 border border-red-300 rounded">
        <h2 class="text-red-600 font-semibold"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
        <ul class="list-disc pl-6 text-red-700">
          <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render 'events/form/event_form_fields', form: form %>
    <%= render 'events/form/participant_fields', form: form %>
    <%= render 'events/form/ticket_fields', form: form %>
    <%= render 'events/form/logistics_fields', form: form %>

    <div class="actions mt-4 text-center">
      <%= form.submit "Создать мероприятие", class: "px-6 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none" %>
    </div>
  <% end %>
</div>
