<h1 class="text-center text-2xl font-bold md:text-4xl my-2 md:my-6">Редактирование мероприятия</h1>

<div class="w-full md:w-2/3 mx-auto p-2 md:p-6">

<%= form_with model: @venue, data: { turbo: false }, local: true do |form| %>
  <%= render 'venues/form/venue_form_fields', form: form %>
  <%= render 'venues/form/facility_fields', form: form %>
  <%= render 'venues/form/logistics_fields', form: form %>

  <div class="actions">
    <%= form.submit "Обновить мероприятие" %>
  </div>
<% end %>

<%= form_with model: @venue, method: :delete, local: true do |form| %>
  <div class="actions">
    <%= form.submit "Удалить мероприятие", class: "delete-button" %>
  </div>
<% end %>
</div>