<div class="flex justify-center items-center gap-4 my-6">
  <h1 class="text-4xl font-bold text-gray-800 dark:text-white">Аренда площадки</h1>
  <%= link_to '+', new_venue_path, class: 'bg-green-600 text-white px-4 py-2 rounded-full hover:bg-green-700 transition' %>
</div>

<div class="flex items-center justify-between max-w-md mx-auto mb-4 gap-4">
  <%= form_with(url: events_path, method: :get, local: false, class: 'flex-grow', data: { turbo_frame: 'events-list' }) do %>
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative flex items-center">
      <%= text_field_tag :search, params[:search], class: 'block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder: 'Поиск по мероприятиям...', style: 'background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 fill=%22none%22 viewBox=%220 0 24 24%22 stroke=%22%23bbb%22 width=%2220%22 height=%2220%22%3E%3Cpath stroke-linecap=%22round%22 stroke-linejoin=%22round%22 stroke-width=%222%22 d=%22m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z%22/%3E%3C/svg%3E"); background-position: 10px center; background-repeat: no-repeat; background-size: 20px; padding-left: 30px;' %>
      <button type="submit" class="text-white absolute right-2 top-1/2 transform -translate-y-1/2 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
    </div>
  <% end %>

  <button 
    id="filter-toggle" 
    class="bg-indigo-800 text-white px-4 py-2 rounded hover:bg-blue-600 transition"
    data-expanded="false"
  >
    Фильтры
  </button>
</div>


<div 
  id="filters" 
  class="hidden mb-6 p-6 bg-white dark:bg-gray-800 rounded-lg shadow-lg  inset-0 max-w-5xl mx-auto"
>
  <h2 class="text-lg font-bold text-gray-800 dark:text-white mb-4">Фильтры</h2>
  <%= form_with(url: events_path, method: :get, local: false, class: 'grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6', data: { turbo_frame: 'events-list' }) do %>
    <div>
      <%= label_tag :event_type, 'Тип мероприятия', class: 'block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1' %>
      <%= select_tag :event_type, options_for_select(['', 'Концерт', 'Семинар', 'Воркшоп'], params[:event_type]), class: 'w-full p-3 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white' %>
    </div>

    <div>
      <%= label_tag :start_time, 'Дата начала', class: 'block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1' %>
      <%= date_field_tag :start_time, params[:start_time], class: 'w-full p-3 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white' %>
    </div>

    <div>
      <%= label_tag :location, 'Местоположение', class: 'block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1' %>
      <%= text_field_tag :location, params[:location], class: 'w-full p-3 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white' %>
    </div>

    <div class="flex items-center justify-end md:col-span-3">
      <%= submit_tag 'Применить', class: 'bg-blue-500 text-white px-6 py-3 rounded hover:bg-blue-600 transition' %>
      <%= link_to 'Сбросить', events_path, class: 'ml-4 bg-gray-500 text-white px-6 py-3 rounded hover:bg-gray-600 transition' %>
    </div>
  <% end %>
</div>


<div 
  id="filters" 
  class="hidden mb-6 p-4 bg-gray-100 dark:bg-gray-800 rounded-lg shadow-lg"
>
  <%= form_with(url: events_path, method: :get, local: false, class: 'grid grid-cols-1 md:grid-cols-3 gap-4 w-full md:w-2/3', data: { turbo_frame: 'events-list' }) do %>
    <div>
      <%= label_tag :event_type, 'Тип мероприятия' %>
      <%= select_tag :event_type, options_for_select(['', 'Концерт', 'Семинар', 'Воркшоп'], params[:event_type]), class: 'w-full p-3 border border-gray-300 rounded-lg dark:bg-gray-800 dark:text-white' %>
    </div>

    <div>
      <%= label_tag :start_time, 'Дата начала' %>
      <%= date_field_tag :start_time, params[:start_time], class: 'w-full p-3 border border-gray-300 rounded-lg dark:bg-gray-800 dark:text-white' %>
    </div>

    <div>
      <%= label_tag :location, 'Местоположение' %>
      <%= text_field_tag :location, params[:location], class: 'w-full p-3 border border-gray-300 rounded-lg dark:bg-gray-800 dark:text-white' %>
    </div>

    <div class="flex items-center justify-between">
      <%= submit_tag 'Применить фильтры', class: 'bg-blue-500 text-white px-6 py-3 rounded hover:bg-blue-600 transition' %>
      <%= link_to 'Сбросить фильтры', events_path, class: 'bg-gray-500 text-white px-6 py-3 rounded hover:bg-gray-600 transition' %>
    </div>
  <% end %>
</div>

<div id="events-list" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-8 px-4 md:px-16">
  <% @venues.each_with_index do |venue, index| %>
    <div class="flex flex-col sm:flex-row bg-white border border-gray-200 rounded-lg shadow-lg hover:shadow-2xl transition transform hover:scale-105 duration-300 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
      <img class="object-cover w-full sm:w-48 h-48 sm:h-auto rounded-t-lg sm:rounded-none sm:rounded-l-lg" src="https://via.placeholder.com/150" alt="Изображение мероприятия">
      <div class="flex flex-col justify-between p-6 w-full">
        <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white mb-4"><%= venue.name %></h5>
        <p class="text-gray-700 dark:text-gray-400 mb-3"><%= truncate(venue.description, length: 100) %></p>
        <div class="text-sm text-gray-600 dark:text-gray-400 mb-3">
        </div>
        <div class="flex justify-between items-center">
          <%= link_to 'Подробнее', venue_path(venue), class: 'text-blue-500 hover:underline' %>
          <%= link_to 'Редактировать', edit_venue_path(venue), class: 'text-gray-500 hover:text-blue-500' %>
        </div>
      </div>
    </div>
  <% end %>
</div> 

<script>
 document.addEventListener('turbo:load', () => {
    const filterToggle = document.getElementById('filter-toggle');
    const filters = document.getElementById('filters');

    filterToggle.addEventListener('click', function () {
      const isExpanded = filterToggle.getAttribute('data-expanded') === 'true';

      if (isExpanded) {
        filters.classList.add('hidden');
        filterToggle.setAttribute('data-expanded', 'false');
      } else {
        filters.classList.remove('hidden');
        filterToggle.setAttribute('data-expanded', 'true');
      }
    });
  });
</script>
