<h1 class="text-center text-2xl font-bold md:text-4xl my-2 md:my-6">Создание арендуемой площадки</h1>

<div class="w-full md:w-2/3 mx-auto p-2 md:p-6">
  <%= form_with model: @venue, id: "venue_form", data: { turbo: false }, local: true, multipart: true do |form| %>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <%= render 'venues/form/venue', form: form %>
      <%= render 'venues/form/rental_info', form: form %>
      <%= render 'venues/form/facility', form: form %>
      <%= render 'venues/form/information', form: form %>
      <%= render 'venues/form/service', form: form %>
      <%= render 'venues/form/media_files', form: form %>
    </div>
    <div class="actions mt-4 text-center">
      <%= form.submit "Создать площадку", class: "px-6 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none" %>
    </div>
  <% end %>
</div>
