<h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-6">Информация о зале</h3>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
  <div class="flex items-center">
    <span class="font-semibold text-gray-700 dark:text-gray-300 w-1/3">Wi-Fi:</span>
    <p class="ml-2 <%= @venue.facility.wifi ? 'text-green-500' : 'text-red-500' %>">
      <%= @venue.facility.wifi ? 'Есть' : 'Нет' %>
    </p>
  </div>

  <div class="flex items-center">
    <span class="font-semibold text-gray-700 dark:text-gray-300 w-1/3">Кондиционер:</span>
    <p class="ml-2 <%= @venue.facility.air_conditioning ? 'text-green-500' : 'text-red-500' %>">
      <%= @venue.facility.air_conditioning ? 'Есть' : 'Нет' %>
    </p>
  </div>

  <div class="flex items-center">
    <span class="font-semibold text-gray-700 dark:text-gray-300 w-1/3">Аудио-видео оборудование:</span>
    <p class="ml-2 <%= @venue.facility.audio_visual_equipment ? 'text-green-500' : 'text-red-500' %>">
      <%= @venue.facility.audio_visual_equipment ? 'Есть' : 'Нет' %>
    </p>
  </div>

  <div class="flex items-center">
    <span class="font-semibold text-gray-700 dark:text-gray-300 w-1/3">Парковка:</span>
    <p class="ml-2 <%= @venue.facility.parking ? 'text-green-500' : 'text-red-500' %>">
      <%= @venue.facility.parking ? 'Есть' : 'Нет' %>
    </p>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 my-10">
  <div class="flex items-center">
    <span class="font-semibold text-gray-700 dark:text-gray-300 w-1/3">Доступ для инвалидов:</span>
    <p class="ml-2 <%= @venue.facility.disabled_access ? 'text-green-500' : 'text-red-500' %>">
      <%= @venue.facility.disabled_access ? 'Есть' : 'Нет' %>
    </p>
  </div>

  <div class="flex items-center">
    <span class="font-semibold text-gray-700 dark:text-gray-300 w-1/3">Кухня:</span>
    <p class="ml-2 <%= @venue.facility.kitchen ? 'text-green-500' : 'text-red-500' %>">
      <%= @venue.facility.kitchen ? 'Есть' : 'Нет' %>
    </p>
  </div>

  <div class="flex items-center">
    <span class="font-semibold text-gray-700 dark:text-gray-300 w-1/3">Количество туалетов:</span>
    <p class="ml-2"><%= @venue.facility.toilets_count %></p>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-8">
  <div class="flex items-center">
    <span class="font-semibold text-gray-700 dark:text-gray-300 w-1/3">Курение разрешено:</span>
    <p class="ml-2 <%= @venue.information.smoking_allowed ? 'text-green-500' : 'text-red-500' %>">
      <%= @venue.information.smoking_allowed ? 'Да' : 'Нет' %>
    </p>
  </div>

  <div class="flex items-center">
    <span class="font-semibold text-gray-700 dark:text-gray-300 w-1/3">Алкоголь разрешен:</span>
    <p class="ml-2 <%= @venue.information.alcohol_allowed ? 'text-green-500' : 'text-red-500' %>">
      <%= @venue.information.alcohol_allowed ? 'Да' : 'Нет' %>
    </p>
  </div>

  <div class="flex items-center">
    <span class="font-semibold text-gray-700 dark:text-gray-300 w-1/3">Разрешены вечеринки:</span>
    <p class="ml-2 <%= @venue.information.noise_restrictions ? 'text-green-500' : 'text-red-500' %>">
      <%= @venue.information.noise_restrictions ? 'Есть' : 'Нет' %>
    </p>
  </div>
</div>

<div class="mb-8">
  <span class="font-semibold text-gray-700 dark:text-gray-300">Другие удобства:</span>
  <div class="flex items-center">
    <p class="ml-2"><%= @venue.facility.other_facilities.present? ? @venue.facility.other_facilities : 'Нет дополнительных удобств' %></p>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-8">
  <div>
    <span class="font-semibold text-gray-700 dark:text-gray-300">Календарь:</span>
    <div class="flex items-center">
      <a href="<%= @venue.information.calendar %>" class="text-blue-500 hover:underline" target="_blank">
        <%= @venue.information.calendar %>
      </a>
    </div>
  </div>

  <div>
    <span class="font-semibold text-gray-700 dark:text-gray-300">Типы мероприятий:</span>
    <div class="flex items-center">
      <p class="ml-2"><%= @venue.information.event_types.join(', ') %></p>
    </div>
  </div>

  <div>
    <span class="font-semibold text-gray-700 dark:text-gray-300">Запрещенные действия:</span>
    <div class="flex items-center">
      <p class="ml-2"><%= @venue.information.restrictions.present? ? @venue.information.restrictions : 'Нет ограничений' %></p>
    </div>
  </div>
</div>
