  <h3 class="text-xl text-center font-semibold text-gray-800 dark:text-gray-200 mb-5">
    Информация о площадке
  </h3>

  <div class="text-center mb-5">
    <p class="text-gray-700 dark:text-gray-300 flex justify-center items-center space-x-3">
      <span class="font-bold text-base text-white bg-yellow-500 dark:bg-yellow-600 px-4 py-2 rounded-full shadow transform hover:scale-105 transition duration-300 ease-in-out">

      </span>
      <span class="text-gray-500 dark:text-gray-400">—</span>
      <span class="font-bold text-base text-white bg-yellow-500 dark:bg-yellow-600 px-4 py-2 rounded-full shadow transform hover:scale-105 transition duration-300 ease-in-out">

      </span>
    </p>
  </div>

  <div class="mb-5">
    <h4 class="text-base font-semibold text-gray-900 dark:text-gray-200 mb-2">
      Максимум участников:
    </h4>
    <p class="text-base font-medium text-blue-600 dark:text-blue-400">
      <%= @venue.max_participants || "—" %>
    </p>
  </div>
  <div class="mb-5">
    <h4 class="text-base font-semibold text-gray-900 dark:text-gray-200 mb-2">
      Площадь:
    </h4>
    <p class="text-base font-medium text-blue-600 dark:text-blue-400">
      <%= @venue.max_participants || "—" %>

    </p>
  </div>

  <!-- Location Information -->
  <div class="mb-5">
    <h4 class="text-base font-semibold text-gray-900 dark:text-gray-200 mb-2">
      Адрес:
    </h4>
    <p class="text-base font-medium text-gray-800 dark:text-gray-300">
      <%= @venue.address %>
    </p>
  </div>
  <div class="mb-5">
    <h4 class="text-base font-semibold text-gray-900 dark:text-gray-200 mb-2">
      Ссылка на карту:
    </h4>
    <a href="<%= @venue.website %>" class="text-blue-600 hover:underline dark:text-blue-400 text-base font-medium flex items-center space-x-2" target="_blank">
      <span>📍 Сайт</span>
    </a>
  </div>

  <!-- venue Type -->
  <div>
    <h4 class="text-base font-semibold text-gray-900 dark:text-gray-200 mb-2">
      Тип мероприятия:
    </h4>
    <p class="text-base font-semibold text-white bg-green-500 dark:bg-green-600 rounded-lg px-4 py-2 shadow transform hover:scale-105 transition duration-300 ease-in-out">
      <%= @venue.venue_type %>
    </p>
  </div>
