<div class="field mb-4">
  <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
  <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
</div>

<div class="field mb-4">
  <%= form.label :description, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
  <%= form.text_area :description, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
</div>

<div class="field mb-4">
  <%= form.label :event_type, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
  <%= form.text_field :event_type, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
</div>

<div class="field mb-4">
  <%= form.label :start_time, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
  <%= form.datetime_select :start_time, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
</div>

<div class="field mb-4">
  <%= form.label :end_time, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
  <%= form.datetime_select :end_time, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
</div>

<div class="field mb-4">
  <%= form.label :location, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
  <%= form.text_field :location, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
</div>

<div class="field mb-4">
  <%= form.label :location_link, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
  <%= form.text_field :location_link, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
</div>

<div class="field mb-4">
  <%= form.label :event_format, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
  <%= form.text_field :event_format, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
</div>
