<h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-4">Информация о участниках</h3>
<%= form.fields_for :participant do |participant_form| %>
  <div class="field mb-4">
    <%= participant_form.label :min_participants, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= participant_form.number_field :min_participants, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="field mb-4">
    <%= participant_form.label :max_participants, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= participant_form.number_field :max_participants, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="field mb-4">
    <%= participant_form.label :participant_type, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= participant_form.text_field :participant_type, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="field mb-4">
    <%= participant_form.label :is_private, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= participant_form.check_box :is_private, class: "h-4 w-4 text-blue-500 focus:ring-blue-500 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="field mb-4">
    <%= participant_form.label :is_paid, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= participant_form.check_box :is_paid, class: "h-4 w-4 text-blue-500 focus:ring-blue-500 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>
<% end %>
