<h3 class="text-lg font-semibold text-gray-900 dark:text-white m-4">Билеты</h3>
<div id="tickets-container">
  <%= form.fields_for :tickets do |ticket_form| %>
    <div class="ticket-form mb-4 border border-gray-300 dark:border-gray-600 rounded-lg p-4 bg-white dark:bg-gray-800">
      <%= ticket_form.hidden_field :_destroy, value: false, class: "destroy-flag" %>

      <div class="flex space-x-4 mb-3">
        <div class="flex-1">
          <%= render Ui::InputFieldComponent.new(
            form: ticket_form,
            field_name: :ticket_type, 
            label: "Тип билета",
            placeholder: "Стандартный, VIP и т.д."
          )%>
        </div>
        <div class="flex-1">
          <%= render Ui::InputFieldComponent.new(
            form: ticket_form, 
            field_name: :price, 
            label: "Цена", 
            type: "number",
            placeholder: "Введите цену"
          )%>
        </div>
      </div>

      <div class="flex space-x-4 mb-3">
        <div class="flex-1">
          <%= render Ui::SelectFieldComponent.new(
            form: ticket_form,
            field_name: :currency,
            label: "Валюта",
            options: Ticket::CURRENCY_TYPES,
            include_blank: 'Выберите валюту',
            input_class: "custom-class"
          ) %>
        </div>

        <div class="flex-1">
          <%= render Ui::MultiSelectFieldComponent.new(
              form: ticket_form,
              field_name: :payment_method, 
              label: "Метод оплаты",
              options: Ticket::PAYMENT_METHODS,
              include_blank: 'Выберите тип оплаты', 
              input_class: "custom-class"
          ) %>
        </div>
      </div>

      <%# <div class="mb-3">
        <%= render Ui::InputFieldComponent.new(
          form: ticket_form,
          field_name: :discount_code,
          label: "Код скидки",
          placeholder: "Введите цену"
        ) 
      </div> %>

      <button type="button" class=" remove-ticket bg-red-500 hover:bg-red-600 text-white text-sm rounded-lg px-4 py-1">
        Удалить
      </button>
    </div>
  <% end %>
</div>

<button type="button" class="add-ticket bg-blue-500 hover:bg-blue-600 text-white text-sm rounded-lg px-6 py-3 mx-auto block">
    Добавить билет
</button>

<script>
  document.addEventListener('turbo:load', () => {
  
  const maxTickets = 4;
  const minTickets = 1;
  const ticketsContainer = document.querySelector("#tickets-container");
  const addTicketButton = document.querySelector(".add-ticket");

  function updateRemoveButtons() {
    const ticketForms = ticketsContainer.querySelectorAll(".ticket-form");
    ticketForms.forEach((form, index) => {
      const removeButton = form.querySelector(".remove-ticket");
      if (ticketForms.length <= minTickets) {
        removeButton.style.display = "none";
      } else {
        removeButton.style.display = "inline-block";
      }
    });
  }

  function updateAddButton() {
    const ticketForms = ticketsContainer.querySelectorAll(".ticket-form");
    if (ticketForms.length >= maxTickets) {
      addTicketButton.style.display = "none";
    } else {
      addTicketButton.style.display = "inline-block";
    }
  }

 addTicketButton.addEventListener("click", function (event) {
  event.preventDefault();

  const ticketForms = ticketsContainer.querySelectorAll(".ticket-form");
  if (ticketForms.length >= maxTickets) {
    alert(`Вы можете добавить максимум ${maxTickets} билета.`);
    return;
  }

  const firstTicketForm = ticketForms[0];
  const clonedForm = firstTicketForm.cloneNode(true);

  clonedForm.querySelectorAll("input").forEach((input) => {
    if (input.type !== "hidden") input.value = "";
    const name = input.name;
    if (name) {
      input.name = name.replace(/\[\d+\]/, `[${ticketForms.length}]`);
    }
  });

  const multiSelectField = clonedForm.querySelector('select[name*="payment_method"]');
  if (multiSelectField) {
    multiSelectField.value = "";
  }

  clonedForm.querySelector(".destroy-flag").value = "false";
  ticketsContainer.appendChild(clonedForm);
  updateRemoveButtons();
  updateAddButton();
});

  ticketsContainer.addEventListener("click", function (event) {
    if (event.target.classList.contains("remove-ticket")) {
      const ticketForms = ticketsContainer.querySelectorAll(".ticket-form");
      if (ticketForms.length > minTickets) {
        const form = event.target.closest(".ticket-form");
        form.querySelector(".destroy-flag").value = "1";
        form.remove();
        updateRemoveButtons();
        updateAddButton();
      } else {
        alert("Вы не можете удалить последний билет.");
      }
    }
  });

  updateRemoveButtons();
  updateAddButton();
});
</script>
