<div class="max-w-lg mx-auto p-10 mt-10 rounded-xl shadow-2xl bg-cover bg-center">
  <h2 class="text-center text-4xl font-extrabold mb-6">
    Вход
  </h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-6" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="mb-6">
      <%= f.label "Почта", class: "block text-lg font-medium text-gray-300 mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
          class: "w-full p-3 text-lg rounded-lg border-2 bg-gray-800 text-gray-100 border-gray-700 focus:ring focus:ring-blue-500 focus:outline-none focus:border-blue-500 #{'border-red-500' if f.object.errors[:email].any?}" %>
      <% if f.object.errors[:email].any? %>
        <p class="text-red-500 text-sm mt-2">
          <%= f.object.errors[:email].join(', ') %>
        </p>
      <% end %>
    </div>

    <div class="mb-6">
      <%= f.label "Пароль", class: "block text-lg font-medium text-gray-300 mb-2" %>
      <%= f.password_field :password, autocomplete: "current-password",
          class: "w-full p-3 text-lg rounded-lg border-2 bg-gray-800 text-gray-100 border-gray-700 focus:ring focus:ring-blue-500 focus:outline-none focus:border-blue-500 #{'border-red-500' if f.object.errors[:password].any?}" %>
      <% if f.object.errors[:password].any? %>
        <p class="text-red-500 text-sm mt-2">
          <%= f.object.errors[:password].join(', ') %>
        </p>
      <% end %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="flex items-center mb-6">
        <%= f.check_box :remember_me, class: "h-4 w-4 text-blue-500 border-gray-600 rounded focus:ring focus:ring-blue-500 focus:ring-opacity-50" %>
        <%= f.label "Запомнить меня", class: "ml-2 text-sm text-gray-400" %>
      </div>
    <% end %>

    <div class="mt-8">
      <%= f.submit "Вход",
          class: "w-full bg-gray-600 hover:bg-gray-700 text-white text-lg font-semibold py-3 px-5 rounded-lg shadow-lg transition duration-300" %>
    </div>
  <% end %>

  <div class="mt-6 text-center text-sm text-gray-400">
    <%= render "devise/shared/links" %>
  </div>
</div>
