  <h3 class="text-xl mb-2 text-center font-semibold text-gray-700 dark:text-gray-200">
    Информация о мероприятии
  </h3>

  <div class="text-center mb-5">
    <p class="text-gray-700 dark:text-gray-300 flex justify-center items-center space-x-3">
      <span class="font-bold text-base text-white bg-pink-400 dark:bg-pink-500 px-4 py-2 rounded-full shadow transform hover:scale-105 transition duration-300 ease-in-out">
        <%= l(@event.start_time, format: :'custom') %>
      </span>
      <span class="text-gray-500 dark:text-gray-400">—</span>
      <span class="font-bold text-base text-white bg-pink-400 dark:bg-pink-500 px-4 py-2 rounded-full shadow transform hover:scale-105 transition duration-300 ease-in-out">
        <%= l(@event.end_time, format: :'custom') %>
      </span>
    </p>
  </div>

  <div class="mb-5">
    <h4 class="text-base font-semibold text-gray-900 dark:text-gray-200 mb-2">
      Количество участников:
    </h4>
    <p class="text-base font-medium text-blue-600 dark:text-blue-400">
      от <%= @event.participant&.min_participants || "—" %> до <%= @event.participant&.max_participants || "—" %>
    </p>
  </div>
  <div class="mb-5">
    <h4 class="text-base font-semibold text-gray-900 dark:text-gray-200 mb-2">
      Для кого:
    </h4>
    <p class="text-base font-medium text-blue-600 dark:text-blue-400">
      <%= @event.participant&.participant_type || "—" %>
    </p>
  </div>

  <div class="mb-5">
    <h4 class="text-base font-semibold text-gray-900 dark:text-gray-200 mb-2">
      Адрес:
    </h4>
    <p class="text-base font-medium text-gray-800 dark:text-gray-300">
      <%= @event.location %>
    </p>
  </div>
  <div class="mb-5">
    <h4 class="text-base font-semibold text-gray-900 dark:text-gray-200 mb-2">
      Ссылка на карту:
    </h4>
    <a href="<%= @event.location_link %>" class="text-blue-600 hover:underline dark:text-blue-400 text-base font-medium flex items-center space-x-2" target="_blank">
      <span>📍 Посмотреть на карте</span>
    </a>
  </div>

  <div>
    <h4 class="text-base font-semibold text-gray-900 dark:text-gray-200 mb-2">
      Тип мероприятия:
    </h4>
<div class="flex flex-wrap space-x-2">
  <% @event.tags.each do |tag| %>
    <span class="bg-blue-500 text-white rounded-full py-1 mb-3 px-3 text-sm">
      <%= tag %>
    </span>
  <% end %>
</div>

  </div>
