<h1>Создать новую площадку</h1>

<%= form_with(model: @venue, local: true, data: { turbo: false }) do |form| %>
  <div class="form-group">
    <%= form.label :name, 'Название площадки' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :venue_type, 'Тип площадки' %>
    <%= form.text_field :venue_type, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.fields_for :price do |price_form| %>
      <%= price_form.label :amount, 'Цена' %>
      <%= price_form.number_field :amount, class: 'form-control' %>
      <%= price_form.label :currency, 'Валюта' %>
      <%= price_form.text_field :currency, class: 'form-control' %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.fields_for :amenities do |amenity_form| %>
      <%= amenity_form.label :name, 'Удобства' %>
      <%= amenity_form.text_field :name, class: 'form-control' %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.fields_for :event_types do |event_type_form| %>
      <%= event_type_form.label :name, 'Типы мероприятий' %>
      <%= event_type_form.text_field :name, class: 'form-control' %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.fields_for :reviews do |review_form| %>
      <%= review_form.label :content, 'Отзыв' %>
      <%= review_form.text_area :content, class: 'form-control' %>
      <%= review_form.label :rating, 'Оценка (1-5)' %>
      <%= review_form.number_field :rating, min: 1, max: 5, class: 'form-control' %>
    <% end %>
  </div>

  <%= form.submit 'Создать площадку', class: 'btn btn-success' %>
<% end %>
