<header class="bg-white">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1 items-center">
      <a href="#" class="-m-1.5 p-1.5">
        Эвент знакомства
      </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="<%=root_path%>" class="text-sm/6 font-semibold text-gray-900">Главная страница</a>
      <% if current_user.profile.present? %>
        <a href="<%= user_profile_path(current_user) %>" class="text-sm/6 font-semibold text-gray-900">Профиль</a>
      <% else %>
        <a href="<%= new_user_profile_path(current_user) %>" class="text-sm/6 font-semibold text-gray-900">Профиль</a>
      <% end %>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <button id="theme-toggle">
        <svg data-toggle-icon="sun" class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 15a5 5 0 1 0 0-10 5 5 0 0 0 0 10Zm0-11a1 1 0 0 0 1-1V1a1 1 0 0 0-2 0v2a1 1 0 0 0 1 1Zm0 12a1 1 0 0 0-1 1v2a1 1 0 1 0 2 0v-2a1 1 0 0 0-1-1ZM4.343 5.757a1 1 0 0 0 1.414-1.414L4.343 2.929a1 1 0 0 0-1.414 1.414l1.414 1.414Zm11.314 8.486a1 1 0 0 0-1.414 1.414l1.414 1.414a1 1 0 0 0 1.414-1.414l-1.414-1.414ZM4 10a1 1 0 0 0-1-1H1a1 1 0 0 0 0 2h2a1 1 0 0 0 1-1Zm15-1h-2a1 1 0 1 0 0 2h2a1 1 0 0 0 0-2ZM4.343 14.243l-1.414 1.414a1 1 0 1 0 1.414 1.414l1.414-1.414a1 1 0 0 0-1.414-1.414ZM14.95 6.05a1 1 0 0 0 .707-.293l1.414-1.414a1 1 0 1 0-1.414-1.414l-1.414 1.414a1 1 0 0 0 .707 1.707Z"></path>
        </svg>

        <svg data-toggle-icon="moon" class="w-3.5 h-3.5 hidden" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
          <path d="M17.8 13.75a1 1 0 0 0-.859-.5A7.488 7.488 0 0 1 10.52 2a1 1 0 0 0 0-.969A1.035 1.035 0 0 0 9.687.5h-.113a9.5 9.5 0 1 0 8.222 14.247 1 1 0 0 0 .004-.997Z"></path>
        </svg>
      </button>
      <a href="#" class="text-sm/6 font-semibold text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
    </div>
    <button id="burgerButton" class="lg:hidden p-2.5 text-gray-700">
        ☰
      </button>
  </nav>
  
  <!-- Mobile Menu -->
  <div id="mobileMenu" class="lg:hidden hidden fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
    <div class="flex items-center justify-between">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img class="h-8 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="Logo">
      </a>
      <button id="closeButton" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Close menu</span>
        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="mt-6 flow-root">
      <div class="-my-6 divide-y divide-gray-500/10">
        <div class="space-y-2 py-6">
          <% if current_user.profile.present? %>
            <a href="<%= user_profile_path(current_user) %>" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Профиль</a>
          <% else %>
            <a href="<%= new_user_profile_path(current_user) %>" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Профиль</a>
          <% end %>
          <a href="<%=root_path%>" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Главная страница</a>
          <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Company</a>
        </div>
        <div class="py-6">
          <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Log in</a>
        </div>
      </div>
    </div>
  </div>


</header>


<script>
  // Define the function to handle the burger menu functionality
  function setupBurgerMenu() {
    // Get elements
    const burgerButton = document.getElementById('burgerButton');
    const closeButton = document.getElementById('closeButton');
    const mobileMenu = document.getElementById('mobileMenu');

    // If elements are found, add event listeners
    if (burgerButton && closeButton && mobileMenu) {
      burgerButton.addEventListener('click', () => {
        mobileMenu.classList.remove('hidden'); 
      });

      closeButton.addEventListener('click', () => {
        mobileMenu.classList.add('hidden'); 
      });
    }
  }

document.addEventListener('turbo:load', setupBurgerMenu);

  // Call the setup function when the page loads

</script>
