<!DOCTYPE html>
<html>
  <head>
    <title>Эвент знакомства</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'profile', media: 'all', 'data-turbo-track': 'reload' %>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css" rel="stylesheet">
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
  </head>

  <body class="min-h-screen flex flex-col bg-gray-200 text-black dark:bg-gray-900 dark:text-white">
    
    <%= render "layouts/header" %>

    <main class="flex-grow">
      <div id="notifications" class="fixed  right-0 z-50 space-y-2">
      <%= render "layouts/flash" %>
    </div>
      <%= yield %>
    </main>
    
    <%= render "layouts/footer" %>
  </body>
</html>
